<h3 class="p-2">hello</h3>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
<input type="text" [(ngModel)]="username" class="form-control">
<p >{{username}}</p>
<button type="button" class="btn btn-primary" [disabled]="checkusername()" (click)="setusernameonclick()">click</button>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-12">
      <button type="button" class="btn btn-primary" (click)="togglepara()">Dislay Details</button>
      <p *ngIf="Isclicked">
        secretpassword=tuna
      </p>
      
        <div *ngFor="let btns in Clickbtnarr"
        [ngStyle]="{backgroundColor:btns>=5?'blue':'black'}"
        
        >{{btns}}</div>
     
    </div>
  </div>

</div>